.questions {
    background-color: $off-white;
    border-left: 5px solid $blue;
    border-radius: $btnRadius;
    width: 80%;
    margin: $lg auto 0 auto;
    padding: $sm $md;


    h2 {
        text-align: center;
        font-weight: lighter;
        margin: $sm;
    }


    .lifeline-container {
        display: flex;
        justify-content: space-between;
    }

    .lifeline {
        position: relative;
        top: -4px;
    }

    h4 {
        font-size: 1.2rem;
        color: $blue;
        margin: $lg;
        line-height: 1.5;
        text-align: center;

        @media screen and (max-width: $md-breakpoint) {
            margin: $sm auto;
        }
    }

    .options-container {
        display: inline-block;
        width: 50%;

        @media screen and (max-width: $md-breakpoint) {
            width: 100%;

        }



        .option {
            background-color: $blue;
            color: $off-white;
            font-weight: 500;
            border-radius: $btnRadius;
            width: 90%;
            margin: $sm auto;
            padding: $normal;
            text-align: center;
            cursor: pointer;
            transition: $transition;

            @media screen and (max-width: $md-breakpoint) {
                margin: $xs auto;
            }


            &:hover {
                background-color: darken($blue, 20%);
            }


        }
    }

    .button-container {
        display: flex;
        justify-content: flex-end;


        @media screen and (max-width: $md-breakpoint) {
            justify-content: center;

        }

        button {
            border: none;
            border-radius: $btnRadiusSm;
            color: $off-white;
            font-family: 'Quicksand', sans-serif;
            margin: $sm $xs 0 $xs;
            padding: $xs $sm;
            cursor: pointer;

            &:first-child {
                background-color: darken($blue, 10%);
                box-shadow: $shadowBtn;

                transition: $transition;

                &:hover {
                    background-color: darken($blue, 20%);

                }
            }

            &:nth-child(2) {
                background-color: darken($green, 10%);
                box-shadow: $shadowBtn;

                transition: $transition;

                &:hover {
                    background-color: darken($green, 20%);

                }
            }

            &:last-child {
                background-color: darken($red, 10%);
                box-shadow: $shadowBtn;

                transition: $transition;

                &:hover {
                    background-color: darken($red, 20%);

                }
            }
        }
    }




}

.toast-valid {

    background-color: $success-text;
    padding: $xs;
    border-radius: 5px !important;
    color: $off-white !important;
}

.toast-invalid {
    background-color: $error-text;
    padding: $xs;
    border-radius: 5px !important;
    color: $off-white !important;
}